body {
	margin: 0;
}

main {
	background-color: blanchedalmond;
}

section {
	padding: 60px 100px;
}

.error {
	background-color: rgba(255, 128, 128, 0.428);
	border-color: rgba(255, 0, 0, 0.437);
}

.green-message {
	color: rgb(40, 161, 78);
	font-weight: bold;
}
