.diary-detail {
  display: grid;
  grid-template-columns: repeat(2,1fr);
	margin-bottom: 70px;
	align-items: start;
}

.diary-detail.flex {
  margin-top: 30px;
}

img {
	width: 256px;
	height: auto;
	margin: 0 auto;
	border-radius: 8px;
}

.detail-body {
	overflow-wrap: anywhere;
	word-break: break-word;
}

.diary-detail,
.detail-text {
    max-width: 800px;
    margin: 0 auto;
}

.background-white {
	background: #fff;
	padding: 24px 24px;
	display: inline-block;
	box-shadow: 0 8px 20px rgba(0,0,0,0.15);
	border-radius: 8px;
}

.background-white img {
	display: block;
	max-width: 250px;
	height: auto;
}

.button-section button{
	padding:10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border-width: 5px;
	border-color: rgba(83, 83, 83, 0.356);
}

.button-section {
	display: flex;
	justify-content: flex-end; /* ←これが本命 */
	gap: 10px;                 /* ボタン間の余白 */
}

button.edit:hover{
	background-color: rgb(134 239 172);
	color:white;
}

button.delete:hover{
	background-color: rgb(252 165 165);
	color:white;
}

button.back:hover{
	background-color: rgb(147 197 253);
	color:white;
}
.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border: 5px solid rgba(83, 83, 83, 0.356);
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(147 197 253);
	color: white;
}

.btn.my-page:hover {
	background-color: rgb(90, 188, 129);
	color: white;
}
