.logo {
	width: 128px;
	height: 128px;
	object-fit: cover;
	display: block;
	margin:0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	gap:30px;
	align-items: center;
}

header {
	padding: 20px 60px;
	background-color: rgb(17 24 39)
}

.right {
	text-align:right;
}

a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	color: red
}

li {
	list-style: none
}
