main {
	display: flex;
	justify-content: center; /* 横中央 */
	align-items: center;     /* 縦中央 */
}

.container {
	width: 100%;
	max-width: 500px;
}

.input-area {
	margin-bottom: 40px;
}

.form {
	display: grid;
	grid-template-columns: 180px 1fr;
	gap: 10px;
	align-items: center;
	margin-bottom: 12px;
	max-width: 1200px;
}

input {
	width: 100%;
	max-width: 800px;
}

.button-row {
	align-items: start;
}

/*******************************
* ログイン画面(ボタン)
********************************/
.right {
	display: flex;
	justify-content: right;
	gap: 30px;
}

.right .login-button button {
	display: inline-block;
	padding: 10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border: 5px solid rgba(83, 83, 83, 0.356);
	text-decoration: none;
	color: black;
}

.right .register-link-button button {
	display: inline-block;
	padding: 10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border: 5px solid rgba(83, 83, 83, 0.356);
	text-decoration: none;
	color: black;
}

/* ログインボタン */
.right .login-button button:hover{
	background-color: rgb(252 165 165);
	color:white;
}

/* 新規作成はこちら */
.right .register-link-button button a{
	color: black;
}

.right .register-link-button button:hover{
	background-color: rgb(147 197 253);
}

.right .register-link-button button:hover a{
	color: white;
}

/*******************************
* 登録画面(ボタン)
********************************/

/* 登録ボタン */
.register-button button{
	display: inline-block;
	padding: 10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border: 5px solid rgba(83, 83, 83, 0.356);
	text-decoration: none;
	color: black;
}
.right .register-button button:hover{
	background-color: rgb(252 165 165);
	color:white;
}

/* 戻るボタン */
.back-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: blanchedalmond;
	border-radius: 10px;
	border: 5px solid rgba(83, 83, 83, 0.356);
	text-decoration: none;
	color: black;
}

.back-button:hover {
	background-color: rgb(147 197 253);
	color: white;
}
